**
!.mvn/
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!mvnw
!pom.xml
!src/
!src/**
!audit-service/
!audit-service/Dockerfile
!audit-service/pom.xml
!audit-service/src/
!audit-service/src/**
